*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(15, 15, 15);
    color: whitesmoke;
}

.container{
    width: 24rem;
    margin: 0 auto;
    margin-top: 5rem;
    border: 1px solid rgb(42, 37, 66);
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 5px 5px 30px rgb(0, 0, 0);
    backdrop-filter: drop-shadow(100px);
    background-color: rgb(14, 14, 31);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.calculator-display{
    height: 7rem;
    border: 1px solid rgb(12, 12, 39);
    box-shadow: 2px 2px 5px black;
    border-radius: 3px;
    background-color: rgb(21, 46, 21);
    position: relative;
    display: flex;
    flex-direction: column;
}

#input{
    position: absolute;
    bottom: 0;
    height: 70%;
    width: 100%;
    background-color: inherit;
    outline: none;
    border: none;
    color: rgb(177, 175, 175);
    font-size: 2rem;
    text-align: right;
    padding: 1rem;
    caret-color: transparent;
    direction: ltr;
    cursor: pointer;
}

.btns{
    padding: 10px 0px;
    font-size: 1.7rem;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-color: rgb(176, 176, 176);
    border: none;
    box-shadow: 2px 2px 5px black;
    transition: transform 0.1s ease;
    font-weight: 700;
    color: black;
}

.btns:first-child{
    background-color: rgb(163, 63, 63);
    color: white;
}

.operator{
    background-color:rgb(219, 136, 41);
}

.btns:active{
    transform: scale(.95);
}

.calculator-grid{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr, 5);
    gap: .8rem;
}

#subInput{
    position: absolute;
    right: 0;
    padding: 1rem;
    color: rgb(165, 164, 164);
    font-size: 1.rem;
}